.pokemon-card {
    /*width: 250px !important;
    height: 100px !important;*/
    padding: 3px;
    /*margin-right: 5px !important;*/
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    ;
    z-index: 999;
}

    .pokemon-card:hover {
        cursor: pointer;
        background-color: #f5f0f0;
    }

    .pokemon-card:active {
        cursor: pointer;
        background-color: #fbffa9;
    }

.left-box {
    line-height: normal;
    float: left;
}

    .left-box > .pokemo-iv {
        position: relative;
        font-size: 14px !important;
        font-weight: bold;
        color: #178f17;
        float: left;
    }

    .left-box > .pokemon-expire {
        font-size: 12px;
        font-weight: bold;
        margin: 0;
        color: #b92626;
        position: relative;
        float: left;
        margin-left: 5px;
    }



.right-box {
    position: relative;
    float: left;
}

.pokemon-info {
}

    .pokemon-info > .title {
        color: #269db9;
        font-size: 1rem;
        font-weight: bold;
        line-height: normal;
    }

    .pokemon-info > .move {
        position: relative;
        float: left;
        font-size: 0.8rem;
        color: #150303;
        margin: 0;
    }


/*  auto sizer*/
/* xs */
.left-box > img {
    /* height: 100%;*/;
    float: left;
}

#sidebar {
    display: none;
    /*position: absolute;*/
    z-index: 999;
}
/* sm */
@media (min-width: 768px) {
    .left-box > img {
        width: 70%;
    }
}
/* md */
@media (min-width: 992px) {
    .left-box > img {
        width: 170%;
    }
}
/* lg */
@media (min-width: 1200px) {
    .left-box > img {
        width: 50px;
        height: 50px;
    }

    #sidebar {
        display: block;
        top:-80px;
    }
}

.links {
    margin: 0;
    padding: 0;
}
/*  sidabar*/
#sidebar > ul {
}

    #sidebar > ul > li {
        border: 1px solid #150303;
        font-weight: bold;
        padding: 10px;
        color: #000;
    }

        #sidebar > ul > li > span {
            background-color: #000;
            color: #fff;
        }

        #sidebar > ul > li > a:hover {
            cursor: pointer;
            color: #000;
            opacity: 0.7;
        }

.list-group-item {
    padding: 8px 8px 1px 24px !important;
}

#pikachu {
    background-color: #FDCC51;
}

#dragonite {
    background-color: #ffbb57;
}

#snorlax {
    background-color: #076a88;
}

#dragonair {
    background-color: #88AAD4;
}

#vaporeon {
    background-color: #B1F2F7;
}

#gyarados {
    background-color: #185881;
}

#charmeleon {
    background-color: #FB7E68;
}

#charizard {
    background-color: #D27834;
}

#blastoise {
    background-color: #F2E7C4;
}

#lapras {
    background-color: #65C7F8;
}
#magikarp {
    background-color: #CF9E83;
}
#dratini {
    background-color: #C9D0DC;
}
#growlithe {
    background-color: #93847B;
}