/*------------------------------------------------*/
/*	Skin: Dark Orange, Light Nav
/*------------------------------------------------*/
/* top bar */
/* line 10, ../../../sass/skins/darkorange-light-nav.scss */
.top-bar {
  background-color: #ff9800;
  border-bottom-color: #cc7a00;
}
/* line 16, ../../../sass/skins/darkorange-light-nav.scss */
.top-bar .action-group .btn-group > a {
  color: #cc7a00;
}
/* line 23, ../../../sass/skins/darkorange-light-nav.scss */
.top-bar .action-group .action-item > a {
  color: #cc7a00;
}
/* line 26, ../../../sass/skins/darkorange-light-nav.scss */
.top-bar .action-group .action-item > a:hover, .top-bar .action-group .action-item > a:active, .top-bar .action-group .action-item > a.active {
  color: #fff;
}
/* line 34, ../../../sass/skins/darkorange-light-nav.scss */
.top-bar .logged-user .btn-group > a {
  color: #cc7a00;
}
/* line 38, ../../../sass/skins/darkorange-light-nav.scss */
.top-bar .logged-user .btn img {
  border-color: #fff;
}
/* line 45, ../../../sass/skins/darkorange-light-nav.scss */
.top-bar .action-group .btn-group > a:hover,
.top-bar .logged-user .btn-group > a:hover {
  color: #fff;
}
/* line 49, ../../../sass/skins/darkorange-light-nav.scss */
.top-bar .action-group .btn-group.open > a,
.top-bar .logged-user .btn-group.open > a {
  color: #fff;
}

/* minified and off-canvas toggle button */
/* line 56, ../../../sass/skins/darkorange-light-nav.scss */
.btn-nav-sidebar-minified i,
.btn-off-canvas i {
  color: #fff;
}
/* line 60, ../../../sass/skins/darkorange-light-nav.scss */
.btn-nav-sidebar-minified i:hover,
.btn-off-canvas i:hover {
  color: #fff;
}

/* custom nav pills */
/* line 67, ../../../sass/skins/darkorange-light-nav.scss */
.nav-pills-custom-minimal > li.active a {
  border-top-color: #ff9800;
}
/* line 70, ../../../sass/skins/darkorange-light-nav.scss */
.nav-pills-custom-minimal > li.active a:hover, .nav-pills-custom-minimal > li.active a:focus {
  border-top-color: #ff9800;
}
/* line 76, ../../../sass/skins/darkorange-light-nav.scss */
.nav-pills-custom-minimal.custom-minimal-bottom > li.active a {
  border-bottom-color: #ff9800;
}
/* line 79, ../../../sass/skins/darkorange-light-nav.scss */
.nav-pills-custom-minimal.custom-minimal-bottom > li.active a:hover, .nav-pills-custom-minimal.custom-minimal-bottom > li.active a:focus {
  border-bottom-color: #ff9800;
}

/* line 86, ../../../sass/skins/darkorange-light-nav.scss */
body {
  background: #fff;
}

/* line 90, ../../../sass/skins/darkorange-light-nav.scss */
#col-right {
  border-right: 1px solid #ccc;
}

/* line 94, ../../../sass/skins/darkorange-light-nav.scss */
.main-nav h3 {
  border-bottom: 1px solid #ccc;
}

/* line 100, ../../../sass/skins/darkorange-light-nav.scss */
ul.main-menu li a {
  color: #696565;
}
/* line 103, ../../../sass/skins/darkorange-light-nav.scss */
ul.main-menu li a:hover, ul.main-menu li a:focus {
  background-color: #e7e7e7;
  color: #696565;
}
/* line 110, ../../../sass/skins/darkorange-light-nav.scss */
ul.main-menu li.active > a {
  background-color: #e7e7e7;
  color: #696565;
}
/* line 114, ../../../sass/skins/darkorange-light-nav.scss */
ul.main-menu li.active > a.submenu-toggle {
  background-color: #fff;
  color: #696565;
}
/* line 125, ../../../sass/skins/darkorange-light-nav.scss */
ul.main-menu .sub-menu > li a,
ul.main-menu .sub-menu .sub-menu > li a {
  background-color: #fff;
}
/* line 128, ../../../sass/skins/darkorange-light-nav.scss */
ul.main-menu .sub-menu > li a:hover, ul.main-menu .sub-menu > li a:focus,
ul.main-menu .sub-menu .sub-menu > li a:hover,
ul.main-menu .sub-menu .sub-menu > li a:focus {
  background-color: #e7e7e7;
}
/* line 134, ../../../sass/skins/darkorange-light-nav.scss */
ul.main-menu .sub-menu > li.active > a,
ul.main-menu .sub-menu .sub-menu > li.active > a {
  background-color: #e7e7e7;
}
/* line 137, ../../../sass/skins/darkorange-light-nav.scss */
ul.main-menu .sub-menu > li.active > a:hover, ul.main-menu .sub-menu > li.active > a:focus,
ul.main-menu .sub-menu .sub-menu > li.active > a:hover,
ul.main-menu .sub-menu .sub-menu > li.active > a:focus {
  background-color: #e7e7e7;
}
/* line 143, ../../../sass/skins/darkorange-light-nav.scss */
ul.main-menu .sub-menu > li.has-submenu a,
ul.main-menu .sub-menu .sub-menu > li.has-submenu a {
  background-color: #fff;
}

/* line 151, ../../../sass/skins/darkorange-light-nav.scss */
.main-nav-minified #col-left ul.main-menu li > a:hover {
  background-color: #e7e7e7;
}
/* line 155, ../../../sass/skins/darkorange-light-nav.scss */
.main-nav-minified #col-left ul.main-menu > li:hover ul.sub-menu {
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  height: auto !important;
}
