/*------------------------------------------------*/
/*	Skin: Full White
/*------------------------------------------------*/
/* line 7, ../../../sass/skins/full-white.scss */
body {
  background: #fff;
}

/* line 11, ../../../sass/skins/full-white.scss */
#col-right {
  border-right: 1px solid #ccc;
}

/* line 15, ../../../sass/skins/full-white.scss */
.main-nav h3 {
  border-bottom: 1px solid #ccc;
}

/* line 21, ../../../sass/skins/full-white.scss */
ul.main-menu li a {
  color: #696565;
}
/* line 24, ../../../sass/skins/full-white.scss */
ul.main-menu li a:hover, ul.main-menu li a:focus {
  background-color: #e7e7e7;
  color: #696565;
}
/* line 31, ../../../sass/skins/full-white.scss */
ul.main-menu li.active > a {
  background-color: #e7e7e7;
  color: #696565;
}
/* line 35, ../../../sass/skins/full-white.scss */
ul.main-menu li.active > a.submenu-toggle {
  background-color: #fff;
  color: #696565;
}
/* line 46, ../../../sass/skins/full-white.scss */
ul.main-menu .sub-menu > li a,
ul.main-menu .sub-menu .sub-menu > li a {
  background-color: #fff;
}
/* line 49, ../../../sass/skins/full-white.scss */
ul.main-menu .sub-menu > li a:hover, ul.main-menu .sub-menu > li a:focus,
ul.main-menu .sub-menu .sub-menu > li a:hover,
ul.main-menu .sub-menu .sub-menu > li a:focus {
  background-color: #e7e7e7;
}
/* line 55, ../../../sass/skins/full-white.scss */
ul.main-menu .sub-menu > li.active > a,
ul.main-menu .sub-menu .sub-menu > li.active > a {
  background-color: #e7e7e7;
}
/* line 58, ../../../sass/skins/full-white.scss */
ul.main-menu .sub-menu > li.active > a:hover, ul.main-menu .sub-menu > li.active > a:focus,
ul.main-menu .sub-menu .sub-menu > li.active > a:hover,
ul.main-menu .sub-menu .sub-menu > li.active > a:focus {
  background-color: #e7e7e7;
}
/* line 64, ../../../sass/skins/full-white.scss */
ul.main-menu .sub-menu > li.has-submenu a,
ul.main-menu .sub-menu .sub-menu > li.has-submenu a {
  background-color: #fff;
}

/* line 72, ../../../sass/skins/full-white.scss */
.main-nav-minified #col-left ul.main-menu li > a:hover {
  background-color: #e7e7e7;
}
/* line 76, ../../../sass/skins/full-white.scss */
.main-nav-minified #col-left ul.main-menu > li:hover ul.sub-menu {
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  height: auto !important;
}
