/*------------------------------------------------*/
/*	Skin: Seagreen
/*------------------------------------------------*/
/* top bar */
/* line 8, ../../../sass/skins/seagreen.scss */
.top-bar {
  background-color: #3f7577;
  border-bottom-color: #2d5456;
}
/* line 14, ../../../sass/skins/seagreen.scss */
.top-bar .action-group .btn-group > a {
  color: #2d5456;
}
/* line 21, ../../../sass/skins/seagreen.scss */
.top-bar .action-group .action-item > a {
  color: #2d5456;
}
/* line 24, ../../../sass/skins/seagreen.scss */
.top-bar .action-group .action-item > a:hover, .top-bar .action-group .action-item > a:active, .top-bar .action-group .action-item > a.active {
  color: #fff;
}
/* line 32, ../../../sass/skins/seagreen.scss */
.top-bar .logged-user .btn-group > a {
  color: #2d5456;
}
/* line 36, ../../../sass/skins/seagreen.scss */
.top-bar .logged-user .btn img {
  border-color: #fff;
}
/* line 43, ../../../sass/skins/seagreen.scss */
.top-bar .action-group .btn-group > a:hover,
.top-bar .logged-user .btn-group > a:hover {
  color: #fff;
}
/* line 47, ../../../sass/skins/seagreen.scss */
.top-bar .action-group .btn-group.open > a,
.top-bar .logged-user .btn-group.open > a {
  color: #fff;
}

/* minified and off-canvas toggle button */
/* line 54, ../../../sass/skins/seagreen.scss */
.btn-nav-sidebar-minified i,
.btn-off-canvas i {
  color: #fff;
}
/* line 58, ../../../sass/skins/seagreen.scss */
.btn-nav-sidebar-minified i:hover,
.btn-off-canvas i:hover {
  color: #fff;
}

/* custom nav pills */
/* line 65, ../../../sass/skins/seagreen.scss */
.nav-pills-custom-minimal > li.active a {
  border-top-color: #3f7577;
}
/* line 68, ../../../sass/skins/seagreen.scss */
.nav-pills-custom-minimal > li.active a:hover, .nav-pills-custom-minimal > li.active a:focus {
  border-top-color: #3f7577;
}
/* line 74, ../../../sass/skins/seagreen.scss */
.nav-pills-custom-minimal.custom-minimal-bottom > li.active a {
  border-bottom-color: #3f7577;
}
/* line 77, ../../../sass/skins/seagreen.scss */
.nav-pills-custom-minimal.custom-minimal-bottom > li.active a:hover, .nav-pills-custom-minimal.custom-minimal-bottom > li.active a:focus {
  border-bottom-color: #3f7577;
}
