@using MSniperService.Models

@section styles{

}
@section scripts{
    @Scripts.Render("~/Scripts/table")
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js"></script>
    @Scripts.Render("~/Scripts/snipe")
    <script src="~/signalr/hubs"></script>
}

<!-- END TOP NAV BAR -->
<!-- COLUMN LEFT -->
<div id="col-left" class="col-left">
    <div class="main-nav-wrapper">
        <nav id="main-nav" class="main-nav">
            <h3>RARE POKEMONS</h3>
            <ul id="filterlist" class="list-group">
                <a data-filter-item data-name-wrapper=" " class="list-group-item"> <span class="text">All Pokemons</span><span id="allPokemons" style="float: right;" class="badge bg-success">0</span></a>

                <a class="list-group-item"><span class="text">Feeders</span><span id="totalfeeder" style="float: right;" class="badge bg-success">0</span></a>

                <a class="list-group-item"><span class="text">Hunters</span><span id="totalvisitor" style="float: right;" class="badge bg-success">0</span></a>
            </ul>
        </nav>
    </div>
</div>
<!-- END COLUMN LEFT -->
<!-- COLUMN RIGHT -->
<div id="col-right" class="col-right ">
    <div class="container-fluid primary-content">
        <!-- PRIMARY CONTENT HEADING -->
        <div class="primary-content-heading clearfix">
            <br>
            <!-- quick task modal -->
            <div class="modal fade" id="autosnipe-panel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="autosnipe-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="autosnipe-state">
                                Auto MSniper BETA
                                <span class="label label-danger" id="autosnipe-state">Stopped</span>
                            </h4>
                            <span><b>be careful using bot will cause ban, using bot your own risk</b></span>
                        </div>
                        <div class="modal-body">
                            <datalist id="pkmlst">
                                <option value="all" />
                                @foreach (var pkmn in Enum.GetValues(typeof(PokemonId)))
                                {
                                    <option value="@pkmn.ToString().ToLower()" />
                                }
                            </datalist>
                            <input id="autosnipe-selectlist" style="width:200px" type="text" class="form-control searchpkmn pull-left" placeholder="Add to list" autocomplete="on" list="pkmlst">
                            <button id="autosnipe-add" type="button" class="btn btn-success">Add</button>
                            <br />
                            <span><b>set minimum iv %</b></span>
                            <br />
                            <input id="autosnipe-iv" style="min-width: 5px; width: 80px;" maxlength="5" value="80.0" type="text" class="form-control">
                            <br />
                            <span class="label label-info">click to pokemon for remove</span>
                            <span class="label label-warning">set msniper delay 2</span>
                            <hr />
                            <div id="autosnipe-selected-context">

                            </div>
                        </div>
                        <div class="modal-footer">
                            @*<button type="button" class="btn btn-secondary" data-dismiss="modal">STOP</button>*@
                            <button id="autosnipe-start" type="button" class="btn btn-primary">START</button>
                            <button id="autosnipe-stop" type="button" class="btn btn-danger">STOP</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end quick task modal -->
            <br />
            <!-- quick task modal -->
            <div class="modal fade" id="idmsniper-panel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button id="idmsniper-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="idmsniper-state">
                                Identified Necrobot BETA
                                <span class="label label-danger" id="idmsniper-state">Stopped</span>
                            </h4>
                            <img src="~/assets/img/identity.jpg" />
                            <br />
                            <h4>please enter your bot's Identity of MSniperService</h4>
                            <br />
                            <span class="btn-info">
                                MSNIPER BUTTON NOT pokesniper2 for snipe<br />
                            this feature is integrated with Necrobot v1.0.0.25 or upper</span>
                            <br />
                            <span class="btn-success"><b>this feature directly sends pokemon to your identified necrobot,so you dont have to use msniper application.</b></span>
                            <br />
                            <span class="btn-warning"><b>ATTENTION1: identity is going to change, when bot reconnects or closes. You have to update here.<br />becareful if you use with mobile phone, your mobile phone may affect badly such web-browser lagging </b></span>
                            <br />
                            <span class="btn-danger"><b>IMPORTANT: if you activated this feature, you can't snipe with msniper application becareful. </b></span>
                        </div>
                        <div class="modal-body">
                            <input id="idmsniper-selectlist" style="width:400px" type="text" class="form-control searchpkmn pull-left" placeholder="00000000-0000-0000-0000-000000000000" autocomplete="on">
                            <button id="idmsniper-add" type="button" class="btn btn-success">Add</button>
                            <br />
                            <div id="idmsniper-selected-context">

                            </div>
                        </div>
                        <div class="modal-footer">
                            @*<button type="button" class="btn btn-secondary" data-dismiss="modal">STOP</button>*@
                            <button id="idmsniper-start" type="button" class="btn btn-primary">ENABLE</button>
                            <button id="idmsniper-stop" type="button" class="btn btn-danger">DISABLE</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end quick task modal -->
        </div>
        <!-- END PRIMARY CONTENT HEADING -->
        <div class="widget bottom-30px">
            <div class="widget-header clearfix">
                <h3><i class="icon ion-navicon"></i> <span>TODAY'S POPULAR POKEMONS</span></h3>
                <div class="btn-group widget-header-toolbar">
                    <a href="#" title="Expand/Collapse" class="btn btn-link btn-toggle-expand"><i class="icon ion-ios-arrow-up"></i></a>
                </div>
            </div>
            <!-- QUICK SUMMARY INFO -->
            <div class="widget-content">
                <h3 class="sr-only">INFO</h3>
                <div id="top6pokemons" class="row">
                    @*<div class="col-xs-6 col-sm-2 text-center"><div class="quick-info horizontal">
                                <img src="http://msniper.com/pkmn1x/abra.png" width="60" alt="abra" class="media-object img-circle pull-left">
                                <p>1. <span>AbraAbraAbra</span></p>
                            </div></div>
                        <div class="col-xs-6 col-sm-2 text-center">
                            <div class="quick-info horizontal">
                                <img src="http://msniper.com/pkmn1x/abra.png" width="60" alt="abra" class="media-object img-circle pull-left">
                                <p>2. <span>Abra</span></p>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-2 text-center">
                            <div class="quick-info horizontal">
                                <img src="http://msniper.com/pkmn1x/abra.png" width="60" alt="abra" class="media-object img-circle pull-left">
                                <p>3. <span>Abra</span></p>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-2 text-center">
                            <div class="quick-info horizontal">
                                <img src="http://msniper.com/pkmn1x/abra.png" width="60" alt="abra" class="media-object img-circle pull-left">
                                <p>4. <span>Abra</span></p>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-2 text-center">
                            <div class="quick-info horizontal">
                                <img src="http://msniper.com/pkmn1x/abra.png" width="60" alt="abra" class="media-object img-circle pull-left">
                                <p>5. <span>Abra</span></p>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-2 text-center">
                            <div class="quick-info horizontal">
                                <img src="http://msniper.com/pkmn1x/abra.png" width="60" alt="abra" class="media-object img-circle pull-left">
                                <p>6. <span>Abra</span></p>
                            </div>
                        </div>*@
                </div>
            </div>
            <!-- END QUICK SUMMARY INFO -->
        </div>

        <div class="widget">
            <div class="widget-header clearfix">
                <h3><i class="icon ion-ios-grid-view-outline"></i> <span>POKEMONS</span></h3>
                <div class="btn-group widget-header-toolbar">
                    @*<button id="idmsniper" style="margin-right:15px; margin-top:15px" type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#idmsniper-panel"><i class="icon ion-paper-airplane"></i> <span>Identified Necrobot (OFF)</span></button>*@
                    <button id="autosnipe" style="margin-top:15px;" type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#autosnipe-panel"><i class="icon ion-ios-checkmark-outline"></i> <span>AUTO MSniper (OFF)</span></button>
                </div>
            </div>
            <div class="widget-content">
                <div class="table-responsive">
                    <table id="datatable-column-filter" class="table table-sorting table-striped table-hover datatable project-list">
                        <thead>
                            <tr>
                                <th>P.Name</th>
                                <th>IV %</th>
                                <th>Move1</th>
                                <th>Move2</th>
                                <th>[?]</th>
                                <th>Expires</th>
                                <th>Snipe1</th>
                                <th>Snipe2</th>
                            </tr>
                        </thead>
                        <tbody id="pokemon-content">
                            @*<tr id="pokemon-snipe" pokemon="abra" expiration="1234125123">
                                    <td>
                                        <img src="http://msniper.com/pkmn1x/abra.png" alt="Avatar" class="avatar"> <a href="#">CAbra</a>
                                    </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" data-transitiongoal="95" aria-valuenow="95" style="width: 95%;">95%</div>
                                        </div>
                                    </td>
                                    <td><span class="label label-info">ConfisuonFastFast</span></td>
                                    <td><span class="label label-default">ConfisuonFastFast</span></td>
                                    <td><span class="label label-default">UNDEFINED</span></td>
                                    <td><span class="label label-danger">00:34</span></td>
                                    <td>
                                        <a id="addRow" class="btn btn-primary btn-xs">MSniper</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-default btn-xs">Pokesniper2</a>
                                    </td>
                                </tr>
                                <tr id="pokemon-snipe" pokemon="abra" expiration="1234125123">
                                    <td>
                                        <img src="http://msniper.com/pkmn1x/abra.png" alt="Avatar" class="avatar"> <a href="#">FAbra</a>
                                    </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" data-transitiongoal="95" aria-valuenow="95" style="width: 95%;">90%</div>
                                        </div>
                                    </td>
                                    <td><span class="label label-default">ConfisuonFastFast</span></td>
                                    <td><span class="label label-default">ConfisuonFastFast</span></td>

                                    <td><span class="label label-default">UNDEFINED</span></td>
                                    <td><span class="label label-danger">00:34</span></td>
                                    <td>
                                        <a class="btn btn-primary btn-xs">MSniper</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-default btn-xs">Pokesniper2</a>
                                    </td>
                                </tr>
                                <tr id="pokemon-snipe" pokemon="abra" expiration="1234125123">
                                    <td>
                                        <img src="http://msniper.com/pkmn1x/abra.png" alt="Avatar" class="avatar"> <a href="#">BAbra</a>
                                    </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" data-transitiongoal="95" aria-valuenow="95" style="width: 95%;">100%</div>
                                        </div>
                                    </td>
                                    <td><span class="label label-default">ConfisuonFastFast</span></td>
                                    <td><span class="label label-default">ConfisuonFastFast</span></td>

                                    <td><span class="label label-default">UNDEFINED</span></td>
                                    <td><span class="label label-danger">00:34</span></td>
                                    <td>
                                        <a class="btn btn-primary btn-xs">MSniper</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-default btn-xs">Pokesniper2</a>
                                    </td>
                                </tr>
                                <tr id="pokemon-snipe" pokemon="abra" expiration="1234125123">
                                    <td>
                                        <img src="http://msniper.com/pkmn1x/abra.png" alt="Avatar" class="avatar"> <a href="#">Abra</a>
                                    </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" data-transitiongoal="95" aria-valuenow="95" style="width: 95%;">95%</div>
                                        </div>
                                    </td>
                                    <td><span class="label label-default">ConfisuonFastFast</span></td>
                                    <td><span class="label label-default">ConfisuonFastFast</span></td>

                                    <td><span class="label label-default">UNDEFINED</span></td>
                                    <td><span class="label label-danger">00:34</span></td>
                                    <td>
                                        <a class="btn btn-primary btn-xs">MSniper</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-default btn-xs">Pokesniper2</a>
                                    </td>
                                </tr>*@
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>
